Repository MichelD-dev/Front-End-Fisheye: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js, html, css}": [
        "eslint"
    ],
    "**/*.{js,json,html,css}": [
        "prettier --write",
        "git add"
    ]
}

Fix hover sur video thumbnail
  css/style.css
  css/style.css.map
  package.json
  photographer.html
  sass/pages/_photographer.scss
  yarn.lock
Due: prettier --write

Reconstruction selecteur pour accessibilité
  .vscode/settings.json
  css/style.css
  css/style.css.map
  index.html
  photographer.html
  sass/base/_base.scss
  sass/pages/_photographer.scss
  scripts/API/likesAPI.js
  scripts/components/selector.js
  scripts/factories/mediaFactory.js
  scripts/factories/photographerFactory.js
  scripts/modals/lightbox.js
  scripts/pages/index.js
  scripts/pages/photographer.js
  scripts/utils/domElements.js
Due: eslint, prettier --write

Modifs html pour validation W3C
  css/style.css
  css/style.css.map
  photographer.html
  sass/pages/_photographer.scss
  scripts/API/likesAPI.js
  scripts/components/selector.js
  scripts/factories/mediaFactory.js
  scripts/factories/photographerFactory.js
  scripts/pages/photographer.js
Due: eslint, prettier --write

Fixs mineurs
  css/style.css
  css/style.css.map
  photographer.html
  sass/pages/_photographer.scss
  scripts/components/selector.js
  scripts/factories/photographerFactory.js
  scripts/modals/form.js
  scripts/pages/photographer.js
  scripts/utils/utils.js
Due: eslint, prettier --write

Modifs sur commentaires
  scripts/components/selector.js
  scripts/modals/form.js
  scripts/modals/lightbox.js
  scripts/pages/photographer.js
  scripts/utils/formValidation.js
Due: eslint, prettier --write

Fix nombre total de likes
  scripts/API/likesAPI.js
Due: eslint, prettier --write

Fix bug sur selecteur
  photographer.html
  scripts/components/selector.js
  scripts/components/skeletons.js
  scripts/pages/photographer.js
Due: eslint, prettier --write

Fix css responsive
  css/style.css
  css/style.css.map
  sass/pages/_photographer.scss
Due: prettier --write

Corrections ARIA
  photographer.html
  scripts/factories/mediaFactory.js
  scripts/factories/photographerFactory.js
  scripts/pages/index.js
Due: eslint, prettier --write

index on main: 58b1cd7 Corrections ARIA
  .husky/pre-commit
  .huskyrc
  package.json
  photographer.html
Due: prettier --write

Configuration Husky + lint-staged
  .lintstagedrc
  package.json
Due: prettier --write

Fix nodeLinker Yarn
  .yarnrc.yml
Due: none

Modif readme.md
  README.md
  css/style.css
  css/style.css.map
  index.html
  sass/pages/_accueil.scss
Due: prettier --write

Ajout d'un cache pour n'afficher qu'une fois les skeletons dans la page photographer
  scripts/pages/index.js
  scripts/pages/photographer.js
Due: eslint, prettier --write
